#logo {
    background-color: inherit;
    padding-left: 0;
    margin-top: 10px;
    text-align: center;
    img#rage {
        width: 150px;
        height: 150px;
        @include border-radius(75px);
    }
}

section.comments {
    padding-right: 50px;
}

article.post h2, article.post p, article.post ol {
  padding-right: 50px;
}

article.post figure {
  padding-right: 50px;
}

@media only screen and (min-width: 1300px) {
    h1 {
      font-size: 5.9vw;
    }
    p {
      font-size: 2.5vmin;
    }
    blockquote > p {
      font-size: 2.6vmin;
    }
    span {
      font-size: 2vmin;
    }
    h3, section h2, section h1, .entry-title > a {
      font-size: 4.0vh !important;
    }
}

@media only screen and (min-width: 1400px) {
    p {
      font-size: 2vmin;
    }
    span {
      font-size: 1.6vmin;
    }
    h3, section h2, section h1, .entry-title > a {
      font-size: 3.0vh !important;
    }
}