#logo {
    background-color: inherit;
    padding-left: 0;
    margin-top: 10px;
    text-align: center;
    img#rage {
        width: 150px;
        height: 150px;
        @include border-radius(75px);
    }
}

#menu {
    i {
        font-size: 20px;
    }
}

@mixin right-article-padding($width) {
    section.comments,
    article.post h2, 
    article.post p,
    article.post ol,
    article.post figure,
    article footer
    {
        padding-right: $width;
    }
}

@mixin article-footer($height) {
    article footer {
        height: $height;
        text-align: center;
        overflow: hidden;
        div, a {
            cursor: pointer;
            position: relative;
            display: block;
            border-bottom: none;
            height: $height;
            line-height: $height;
            &.full-article {
                top: 0;
                background-color: rgba(170,170,170,0.2);
                @include transition-property(top);
                @include transition-duration(0.5s);
                &:hover {
                    top: -$height;
                }
            }
            &.full-article-hover {
                background-color: rgba(170,170,170,0.5);
            }
        }
    }
}

@include article-footer(30px);

// Short screen
@media only screen and (max-height: 650px) {
    @include right-article-padding(10px);
    article footer {
        padding: 0;
        div.full-article {
            top: -30px;
        }
    }
}

// Medium-width screen
@media only screen and (max-width: 630px),
  (device-height: 1024px) and (device-width: 768px) and (orientation: portrait) {
    @include article-footer(40px);
    @include right-article-padding(10px);
    article footer {
        padding: 0;
        div.full-article {
            top: -40px;
        }
    }
}

@media only screen and (min-width: 900px) {
    @include right-article-padding(50px);
}

@media only screen and (min-width: 1300px) {
    @include article-footer(40px);
    @include right-article-padding(50px);
    h1 {
      font-size: 5.9vw;
    }
    p {
      font-size: 2.5vmin;
    }
    blockquote > p {
      font-size: 2.6vmin;
    }
    span, article footer a,  article footer div {
      font-size: 2vmin;
    }
    h3, section h2, section h1, .entry-title > a {
      font-size: 4.0vh !important;
    }
}

@media only screen and (min-width: 1400px) {
    p {
      font-size: 2vmin;
    }
    span {
      font-size: 1.6vmin;
    }
    h3, section h2, section h1, .entry-title > a {
      font-size: 3.0vh !important;
    }
}